.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  text-align: center;

  .iconLogin {
    margin-bottom: 10px;
  }

  .btnLogin {
    margin-top: 30px;
  }
}
